@model UsersViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Users</h1>

<h2>Last added events</h2>
<!--Yes, I know it's very oldskool to use tables, but the purpose of the exercise was not html-->
<table>
    <tr>
        <th>Email</th>
        <th>Action</th>
        <th>Time</th>
    </tr>
    @foreach (var authenticationEvent in Model.AuthenticationEvents)
    {
        <tr>
            @*<td>@authenticationEvent.UserId</td>*@
            <td>@authenticationEvent.UserInfo.Email</td>
            <td>@authenticationEvent.EventAction</td>
            @*<td>@authenticationEvent.Id</td>*@
            <td>@authenticationEvent.TimeStamp</td>
        </tr>
    }
</table>

<h2>Last added users</h2>
<table>
    <tr>
        <th>Email</th>
        <th>Email is verified</th>
        <th>Created date</th>
        <th>Last updated date</th>
    </tr>
    @foreach (var user in Model.Users)
    {
        <tr>
            @*<td>@authenticationEvent.UserId</td>*@
            <td>@user.Email</td>
            <td>@user.EmailIsVerified</td>
            <td>@user.CreatedDate</td>
            <td>@user.LastUpdatedDate</td>
            @*<td>@authenticationEvent.Id</td>*@
        </tr>
    }
</table>



